body {
  padding-left: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h1 {
  font-family: Helvetica, sans-serif, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  color: brown;
}
.cube {
  width: 40px;
  height: 40px;
  margin: 7px;
}
#soduku-grid {
  position: absolute;
  left: 20%;
  top: 150px;
}
#gameover-msg {
  color: red;
  font-size: 2.5rem;
  position: relative;
  left: 100px;
  top: 200px;
  margin-bottom: 50px;
}
#congratulation-msg {
  color: green;
  font-size: 2.5rem;
  position: relative;
  left: 29%;
  top: 200px;
  margin-bottom: 50px;
  text-align: center;
}
#play-again {
  position: relative;
  left: 77%;
  top: 200px;
  font-size: 1.2rem;
  color: green;
  height: 77px;
  width: 77px;
  border: green 1px dotted;
  border-radius: 50%;
}

#play-again:hover {
  position: relative;
  left: 77%;
  top: 200px;
  background-color: green;
  font-size: 1rem;
  color: white;
  height: 82px;
  width: 82px;
  border-radius: 50%;
}

#incomplete-msg {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  left: 30%;
  top: 700px;
  margin-right: 50px;
}

#hint {
  width: 80px;
  height: 50px;
  margin: 20px 0 0;
}
#hint-msg {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.75rem;
  margin-top: 10px;
}
#timer {
  position: absolute;
  left: 40%;
  top: 60px;
  font-size: 3rem;
}
#initial-msg {
  font-family: Helvetica, sans-serif, Impact, Haettenschweiler;
  color: brown;

  position: absolute;
  left: 150px;
  top: 465px;
  font-size: 2rem;
}
#remaining-hint {
  font-size: 1.5rem;
  color: orange;
  position: relative;
  bottom: 20px;
}
#Wrongs {
  font-size: 1.5rem;
  margin: 5px;
  color: red;
}
#start-game {
  position: relative;
  /* top: 100px; */
  /* margin-top: 5px; */
}
#start-btn {
  font-size: 1.5rem;
  color: brown;
  height: 75px;
  width: 75px;
  border: brown 1px dotted;
  border-radius: 50%;
}
#start-btn:hover {
  background-color: brown;
  font-size: 1rem;
  color: white;
  height: 80px;
  width: 80px;
  border: brown 2px dotted;
  border-radius: 50%;
}

#submit {
  position: absolute;
  right: 15%;
  top: 380px;
  font-size: 1.2rem;
  color: green;
  height: 77px;
  width: 77px;
  border: green 1px dotted;
  border-radius: 50%;
}

#submit:hover {
  position: absolute;
  right: 15%;
  top: 380px;
  background-color: green;
  font-size: 1rem;
  color: white;
  height: 82px;
  width: 82px;
  border-radius: 50%;
}

#difficulty {
  text-align: center;
  padding: 50px;
}
.difficulty {
  margin: 20px;
  font-size: 1.2rem;
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

#easy {
  color: #d79771;
  border: #d79771 1px dotted;
}
#easy:hover {
  margin: 20px;
  background-color: #d79771;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  height: 82px;
  width: 82px;
  border-radius: 50%;
}
#medium {
  color: #b05b3b;
  border: #b05b3b 1px dotted;
}
#medium:hover {
  margin: 20px;
  background-color: #b05b3b;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  height: 82px;
  width: 82px;
  border-radius: 50%;
}
#hard {
  color: #753422;
  border: #753422 1px dotted;
}
#hard:hover {
  margin: 20px;
  background-color: #753422;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  height: 82px;
  width: 82px;
  border-radius: 50%;
}
#difficulty-msg {
  font-size: 1.5rem;
}

#back {
  color: black;
  border: black 1px dotted;
  margin: 10px;
  font-size: 1.2rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#back:hover {
  color: white;
  background-color: black;
  border: black 1px dotted;
  margin: 10px;
  font-size: 1.2rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
